
<h1> <%= @user.username %> Profile </h1> <br>
            
                
                   <strong>Firstname:</strong> <%= @user.firstname %> <br>
                   <strong>Lastname:</strong> <%= @user.lastname %> <br>
                   <strong>Phone Number:</strong> <%= @user.phone %> <br>
                   <strong>Address:</strong> <%= @user.address %> <br>
                   <strong>City:</strong> <%= @user.city %> <br>
                   <strong>Country:</strong> <%= @user.country %> <br>
                   <strong>Profile Description:</strong> <%= @user.profile %> <br>